* {
  margin: 0;
  padding: 0;
}
button {
  background-color: purple;
  border: none;
  color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.3s;
}
.Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button:hover {
  background-color: rgb(185, 19, 185);
}
